
body{    
    background-color: #1f2937;
    color: white;
    height: 100vh;
    font-family:Georgia, Times, 'Times New Roman', serif;
}



h1{
    color: white;
    background-color: #3882f6;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
}

 #displayRow{
    display: flex;
    justify-content: center;
    border-radius: 10px;
 }


#display{
    background-color: #1f2937;  
    display: inline-flex;
    width: 500px;
    height: 300px;
}

#humanChoiceDisplay, #computerChoiceDisplay{
    border: 1px solid #3882f6;
    width:100%;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

i{
    font-size: 4rem;
    width: 100%;
    margin-bottom: 10px;
}

#choices{
    display: flex;
    justify-content: center;
}

.choice{
    border: 1px solid #fff;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #3882f6;
    color: white;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    border-radius: 100%;

    
}

button:active {
    transform: scale(0.96);
    background-color: #202e42;

}
img:active {
    transform: scale(0.96);
    background-color: #202e42;

}


img{
    width: 120px;
    height: 120px;
}



/* Media query for smaller screens */
@media (max-width: 600px) {
    #choices{
        display: flex;
        height: 20vh;
        align-items: end;
        margin-top: auto;
        margin-bottom: 20px;
        justify-content: center;
        flex-shrink: 0;

    }
    .choice {
      margin: 10px;
      width: 120px;
      height: 100px;
      border-radius: 100%;
      padding: 5px;
      padding: 0;
      margin: 10px;
      display: flex;
      align-items: center; 
      justify-content: center; 
      background-color: #3882f6;
      
    }

    img{
        width: 60px;
        height: 60px;
    }

   
}



.you{
    font-size: 1.5rem;
    font-family:sans-serif;
    color: #00f48e;
    
}
.computer{
    font-size: 1.5rem;
    font-family:sans-serif;
    color: #ff7300;
}


#scores{
    display: flex;
    justify-content: center;

}

#humanScore, #computerScore{
    border: 2px solid #3882f6;
    width: 80px;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 30px;
}


/* Pop-up styling */
.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; /* Make sure it is on top */
}

h2{
    color: green;
}

#gameOverText{
    color: #007bff;
}
.popup-content {
    background-color: black;
    border: 3px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-content button:hover {
    background-color: #0056b3;
}




footer img {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

